.LOGO {
  font-weight: 900;
  cursor: context-menu;
  text-align: center;
  letter-spacing: 2px;
  font-size: 45px;
  color: #fff;
  width: 100%;
  position: absolute;
  margin-bottom: 100px;
}

.LOGO-2 {
  text-align: center;
  font-weight: 900;
  cursor: context-menu;
  letter-spacing: 2px;
  font-size: 50px;
  color: #fff;
  margin-bottom: 50px;
  width: 100%;
}
