@import '../../_variables';

.main-post-container{
    width: 46%;
    position: fixed;
    left: 28.5%;
    top: 0;
    height: 100%;
    background-color: $bg-color;
    overflow: hidden;
}

@media all and (max-width: 950px){
    .main-post-container{
        width: 46% + 18%;
        left: 38.5%;
    }
}