@keyframes appear{
    from{
        opacity: 0;
        transform: scale(0.95);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
};

.image-config-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 12%;
    left: 29%;
    width: 45%;
    border-radius: 15px;
    animation-name: appear;
    animation-duration: 0.3s;
    height: 550px;
    background-color: rgb(211, 209, 209);

    .image-config-header{
        padding: 20px 3%;
        border-bottom: 1px solid rgb(197, 180, 180);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .image-change-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
}