@import "../../_variables";

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 2px;
  left: 1%;
  width: 90%;
  padding: 5px 3%;
}

.icons {
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 45px;
  color: grey;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.left:hover {
  color: #27da8f;
}

.right:hover {
  color: #00acee;
}

.center {
  transform: translateY(-30px);

  &:hover {
    color: $theme-color;
    transform: scale(1.1) translateY(-30px);
  }
}
