@import "../../../../_variables";

.profile-image {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: 10px;
}

.change-image {
  text-align: center;
  margin: 20px auto;
  width: 60%;
  padding: 18px 2%;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  background-color: #27da8f;
  cursor: context-menu;
  transition: 0.3s;

  &:hover {
    background-color: #3dc78d;
  }
}

.profile-continue {
  @extend .change-image;
  margin-top: 10px;
  background-color: $theme-color;
  width: 75%;

  &:hover {
    background-color: #e44739;
  }
}

.main-post-image {
  width: 380px;
  height: 290px;
  border-radius: 12px;
  border: 2px solid #fff;
  margin-top: 10px;
}

.main-post-submit-btn {
  border: none;
  @extend .profile-continue;
  display: block;
  font-size: 16px;
}

.main-post-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
