.side-bar-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 28%;
  height: 100%;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
}

@media all and (max-width: 950px) {
  .side-bar-container {
    width: 38%;
  }
}

@media all and (max-width: 650px) {
  .side-bar-container {
    visibility: hidden;
  }
}
