@import '../../../_variables';

@keyframes open{
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.signup-container{
    position: fixed;
    top: 7%;
    left: 32%;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    width: 42%;
    border-radius: 15px;
    z-index: 3;
    animation-name: open;
    animation-duration: 0.4s;
    box-shadow: 0 0 2px $theme-color;
}

.login-container{
    top: 125px;
    height: auto;
}

.signup-header{
    padding: 20px 3%;
    border-bottom: 1px solid rgb(197, 180, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
}

.cross-icon{
    /* margin-right: auto; */
    color: rgb(107, 106, 106);
    font-weight: 100;
    font-size: 20px;
    transition: 0.2s;
    padding: 4px 1%;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 2%;
}

.cross-icon:hover{
    background-color: rgba(255, 0, 0, 0.4);
}

.signup-input-container{
    margin: 25px auto;
    width: 100%;
}


.signup-input-rel{
    position: relative;
    width: 100%;
    margin: 0px auto;
}


.signup-input{
    display: block;
    width: 80%;
    margin: 0px auto;
    padding: 15px 3%;
    color: black;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #AFAFAF;
}

.signup-input-container label{
    display: block;
    width: 40%;
    font-weight: 500;
    margin: 8px 7%;
    margin-top: 10px;
}

.signup-input:focus{
    outline: none;
    border: 1px solid rgb(206, 68, 68);
}

.signup-input-container label:nth-child(1){
    margin-top: 5px;
}


.contact-input{
    height: 145px;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup-btn{
    padding: 16px 3%;
    width: 88%;
    font-weight: 600;
    color: white;
    font-size: 18px;
    display: block;
    margin: 15px auto;
    margin-bottom: 25px;
    background-image: linear-gradient(to right, #fc2d53, rgb(255, 64, 64), rgb(247, 68, 68));
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;

    &:focus{
        outline: none;
    };

    &:hover{
        background-image: linear-gradient(to left, #fc2d53, rgb(255, 64, 64), rgb(247, 68, 68));
    }
}

.login-btn-form{
    margin-bottom: 15px;
}

.error-message{
    font-size: 14px;
    color: red;
    font-weight: 400;
    width: 86%;
    padding: 1px 0%;
    margin: 5px auto;
    display: flex;
    align-items: center;
}

.forget-container{
    position: fixed;
    top: 25%;
    left: 30%;
}


.signup-radio-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px auto;
    margin-top: 30px;

    .radio-container{
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        header{
            margin-right: 2%;
            font-size: 16px;
            font-weight: 600;
            color: $theme-color;
        }
    }
};

.logout-container{
    position: fixed;
    top: 240px;
    left: 29%;
    width: 45%;
    height: 170px;

    .logout-btn-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .logout-btn{
        display: block;
        width: 45%;
        margin: 0px 1%;
        padding: 15px 3%;
        border-radius: 10px;
        background-color: #fc2d53;
        color: white;
        border: none;

        &:focus{
            outline: none;
        }

    }

    .logout-btn-neg{
        background-color: #34E734;
    }
};

.invalid-cred-error{
    background-image: linear-gradient(to right, #fc2d53, rgb(255, 64, 64), rgb(247, 68, 68));
    padding: 6px 1%;
    text-align: center;
    color: white;
    font-weight: 700;
}

@media all and (max-width: 1600px){
    .signup-container{
        width: 35%;
        top: 3.5%;
        left: 34%;
    }

    .login-container{
        top: 18%;
    }
}

@media all and (max-width: 1300px){
    .signup-container{
        width: 40%;
        top: 8.5%;
        left: 32%;
    }

    .login-container{
        top: 18%;
    }
}

@media all and (max-width: 860px){
    .signup-container{
        visibility: none;
    }

    .logout-container{
        visibility: visible;
    }
}

.login-btn-container-rel{
    position: relative;

    div{
        position: absolute;
        right: 9%;
        top: -20px;
    }
}