@import '../../../_variables';

@keyframes open{
    from{
        opacity: 0;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.signup-container{
    position: fixed;
    top: 10%;
    left: 26%;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    width: 50%;
    border-radius: 15px;
    z-index: 3;
    animation-name: open;
    animation-duration: 0.7905s;
}

.login-container{
    top: 100px;
    height: 500px;
}

.signup-header{
    padding: 20px 3%;
    border-bottom: 1px solid rgb(197, 180, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
}

.cross-icon{
    /* margin-right: auto; */
    color: rgb(107, 106, 106);
    font-weight: 100;
    font-size: 20px;
    transition: 0.2s;
    padding: 4px 1%;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 2%;
}

.cross-icon:hover{
    background-color: rgba(255, 0, 0, 0.4);
}

.signup-input-container{
    margin: 25px auto;
    width: 100%;
}


.signup-input-rel{
    position: relative;
    width: 100%;
    margin: 0px auto;
}


.signup-input{
    display: block;
    width: 80%;
    margin: 0px auto;
    padding: 15px 3%;
    color: black;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #AFAFAF;
}

.signup-input-container label{
    display: block;
    width: 40%;
    font-weight: 500;
    margin: 8px 7%;
    margin-top: 10px;
}

.signup-input:focus{
    outline: none;
    border: 1px solid rgb(206, 68, 68);
}

.signup-input-container label:nth-child(1){
    margin-top: 5px;
}


.contact-input{
    height: 145px;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup-btn{
    padding: 16px 3%;
    width: 88%;
    font-weight: 600;
    color: white;
    font-size: 18px;
    display: block;
    margin: 15px auto;
    margin-bottom: 35px;
    background-image: linear-gradient(to right, #fc2d53, rgb(255, 64, 64), rgb(247, 68, 68));
    border: none;
    border-radius: 10px;
    transition: transform 0.3s;
}

.login-btn-form{
    margin-bottom: 15px;
}

.signup-btn:focus{
    outline: none;
}

.error-message{
    font-size: 14px;
    color: red;
    font-weight: 400;
    width: 86%;
    padding: 1px 0%;
    margin: 5px auto;
    display: flex;
    align-items: center;
}

.forget-contianer{
    height: 350px;
    position: fixed;
    top: 20%;
    left: 26%;
}

.signup-radio-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px auto;
    margin-top: 30px;

    .radio-container{
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        header{
            margin-right: 2%;
            font-size: 16px;
            font-weight: 600;
            color: $theme-color;
        }
    }
}